<!DOCTYPE html>
<html>
  <head>
    <title>TournamentEditor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-background">
    <%= render 'partials/topbar' %>
    <div class="flex h-screen pt-20">
      <%= render 'partials/sidebar' %>
      <main class="flex-1 overflow-auto">
        <%= yield %>
      </main>
      <!-- TODO: Replace this with the actual bracket partial when it is fully defined -->
    </div>
  </body>
</html>
